<form {{action 'save' on='submit'}} >

nombre
{{input type='text' value=examen.nombre}}

fecha
{{input type='date' value=examen.fecha}}


<b><p>Introduce las preguntas:</p></b>
<button type="button" {{action 'saveQuestion'}}>Agregar pregunta</button>

<ul>
	{{#each examen.preguntas as |a|}}
		{{#if a.isNew}}
		{{form-pregunta question=a examen=examen}}
		{{else}}
		<div>
			<b>Pregunta:</b> 
			<br>
			{{a.nombre}}
			<br>
			<br>
			Respuestas:<br><br>
			<ul>
				{{#each a.options as |option index|}} 
				{{#if option.correcto}}
					La respuesta correcta es: {{option.nombre}}
				{{/if}}
{{!-- 				<li>{{option.nombre}}, es una respuesta {{if option.correcto 'CORRECTA'}}</li>
 --}}
				{{/each}} 
			</ul>
		</div>
		{{/if}}
		<li>
			{{eliminar-question question=a}}
		</li>
	{{/each}}
</ul>
<hr>


<button>Guardar</button>

<b> {{#link-to 'lista-examenes'}}<button>Regresar al inicio</button>{{/link-to}} </b> 

</form>

